/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

*{
	padding: 0;
	margin: 0;
}


body{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.clear{
	clear: both;
}

a{
	text-decoration: none;		
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}


// top
.top{
	background: #222225;
	color: #fff;
	line-height: 55px;
	@media (max-width: 1024px) {
		display: none;
	}
	.top-left{
		.red{
			color: #eb2c36;
			font-weight: 700;
		}	
	}
	.top-right{
		.phone{
			float: left;
			margin-right: 20px;
		}
		.mail{
			float: left;
			margin-right: 20px;
			a{
				color: #fff;
				text-decoration: none;
				&:hover{
					color: grey;
				}
			}
		}
		.fb{
			float: left;
			a{
				color: #fff;
				text-decoration: none;
				&:hover{
					color: grey;
				}
			}
		}
	}	
}

// head
.header{
	height: 142px;
	@media (max-width: 1024px) {
		height: 100%;
	}
	@media (min-width: 1025px)and(max-width: 1199px) {
		height: 170px;
	}
	.desktop-header{
		@media (max-width: 1024px) {
			display: none;
		}
		.logos{		
			a{
				position: relative;
				display: inline-block;
	    		width: 418px;
	    		z-index: 999;
				img{
					position: absolute;
				}
			}
		}
		.menus{
			font-family: 'Roboto', sans-serif;
			ul{
				margin: 0;
				li{
					float: left;
					list-style: none;
					font-size: 21px;
					line-height: 140px;
					margin-right: 60px;
					@media (min-width: 1025px)and(max-width: 1199px) {
					    margin-right: 27px;
					    font-size: 18px;
					}
					&:last-child{
						margin-right: 0;
					}
					a{
						color: #222225;
						text-decoration: none;
						&:hover{
							color: #eb2c36;
							font-weight: 700;
							i{
								color: #222225;		
							}
						}
					}
					.active{
						color: #eb2c36;
						font-weight: 700;
						i{
							color: #222225;
						}
					}
				}
				.dropdown{
					&:hover{
						.dropdown-content{
							display: block;
						}
					}
					.dropbtn{
						display: inline-block;
						
					}		
					.dropdown-content {
						display: none;
	    				position: absolute;
	    				background-color: #f9f9f9;
	    				min-width: 160px;
	    				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    				z-index: 1;
	    				ul{
	    					margin: 0;
	    					li{
	    						float: left;
								list-style: none;
    							line-height: 40px;
    							width: 100%;
    							margin-right: 0;
    							padding: 10px;
								font-size: 18px;		
	    						a{
	    							display: block;
	    							text-decoration: none;
	    						}
	    					}
	    				}
					}			
				}
			}
		}	
	}
	.mobile-header{
		display: none;
		@media (max-width: 1024px) {
			display: block;
		}
		.navbar-header{
			@media (max-width: 1024px) {
				float: none;
			}
			.navbar-toggle{
				@media (max-width: 1024px) {
					display: block;
				}
				span{
					background: #aeafb2;
				}
			}
		}		
		#navbar{
		    background: #efeff1;
		    ul{
		    	margin: 0;
		    	li{
			    	border-bottom: 1px solid #fff;
			    	@media (max-width: 1024px) {
						float: none;
					}
			    	a{
			    		color: #222225;
			    		text-decoration: none;
			    	}
			    }
		    }		    
		}
		.collapse{
			display: none !important;
		}
		.in{
			width: 100%;
			display: inline-block !important;
		}
	}

	
}


// slider
.slider-wrapper{
	color: #fff;
    position: relative;
    height: 100%;
    .slick-dots{
	    display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
		li{
		    display: inline-block;
			margin: 0 5px;
			button{
				background: #fff;
    			border: none;
    			border-radius: 20px;
    			width: 15px;
    			height: 15px;
    			text-indent: -9999px;
    			outline: none;
			}
		}
		.slick-active{
			button{
				background: #eb2c36;
			}
		}
    }
	.slider-block{
		position: relative;
		overflow: hidden;
		.img{
			img{
				width: 100%;
			}
		}
		.caption-wrapper{
			background: url(../img/bg-caption.png) no-repeat;
		    bottom: -110px;
		    height: 100%;
		    position: absolute;
	        margin-left: -100px;
		    background-size: 100%;
		    @media (min-width: 1920px) {
	    	    bottom: -200px;
		    }
    		.caption{
			    width: 910px;
    			padding: 120px 90px 0;
    			@media (max-width: 768px) {
    				display: none;
    			}
    			@media (min-width: 769px)and(max-width: 990px) {
					display: none;
    			}
    			@media (min-width: 991px)and(max-width: 1024px) {
				    padding: 85px 90px 0;
    			}
    			.title{
					font-size: 45px;
					font-weight: 800;
					@media (min-width: 991px)and(max-width: 1199px) {
				        font-size: 29px;
	    			}
				}
				.desc{
					font-weight: 300;
					font-size: 22px;
					font-family: 'Roboto', sans-serif;
					@media (min-width: 991px)and(max-width: 1199px) {
				        font-size: 16px;
	    			}
				}	
    		}
			
		}
	}
}

// home search
.search-advance-wrapper{
	padding: 40px 0;
	.form-search-advance{
		.search-block{
			@media (max-width: 1024px) {
				margin-bottom: 20px;
				text-align: center;
			}
			.form-control{
				height: 50px;
				font-size: 18px;
			}
			.btn-meet{
				font-size: 18px;
			    width: 100%;
    			line-height: 40px;
    			&:hover{
			    	box-shadow: 5px 8px 15px -10px #000;
			    }
			}
			.btn-green{
				background: #00c128;
				font-weight: 900;
				color: #fff;
				font-size: 18px;
				line-height: 49px;
			    margin-top: -5px;
    			padding: 5px 26px;
    			@media (max-width: 1024px) {
    				padding: 5px 10px;
    			}
    			&:hover{
			    	box-shadow: 5px 8px 15px -10px #000;
			    }
			}			
		}
	}
}

// home offer
.latest-offer-wrapper{
	background: #efeff1;
    padding: 78px 0;
	.titlex{
		font-weight: 900;
		font-size: 45px;
		color: #222225;
		text-align: center;		
		padding-bottom: 55px;
	}
	.arrow-to-top{
	    position: relative;
	    #back-to-top{
			font-size: 40px;
			background: #d1d3d8;
			color: #fff;
			padding: 0px 10px;
			position: absolute;
			right: -60px;
			@media (max-width: 768px) {
				display: none;
			}
			&:hover{
				background: #fff;
				color: #d1d3d8;
			}
	    }
	}
	.column-offer-wrapper{
		margin-bottom: 30px;
		.see-more{
			text-align: center;
		    margin: 30px 0 30px;
			.btn-see-more{
				display: inline-block;
				background: #00c128;
				color: #fff;
				font-weight: 900;
				font-size: 20px;
			    padding: 12px 48px;
			    @media (max-width: 1024px) {
			    	padding: 12px 20px;
			    }
			    &:hover{
			    	box-shadow: 5px 8px 15px -10px #000;
			    }
			}
		}
		.img{
			position: relative;
			a{
				img{
					@media (max-width: 1024px) {
						width: 100%;
					}
				}
			}
			.sale{
				position: absolute;
				top: 0;
				text-align: center;
				line-height: 44px;
				background: #eb2c36;
				color: #fff;
				font-size: 18px;
				width: 185px;
				height: 44px;
				font-family: 'Roboto', sans-serif;
				font-weight: 900;
			}
			.price{
				background: rgba(0, 0, 0, 0.5);
			    color: #fff;
			    position: absolute;
			    width: 100%;
			    bottom: 0;
			    padding: 10px;
			    span{
			    	margin: 0 20px;
			    }
			}
		}
		.desc-wrapper{
			padding: 15px;
			background: #fff;
			@media (max-width: 1024px) {
				margin-bottom: 20px;
			}
			.title{
				font-size: 21px;
				font-weight: 900;
				text-align: left;
				margin-bottom: 20px;
				a{
					color: #222225;
					text-decoration: none;
					&:hover{
						color: #b3b7c0;
					}
				}
			}
			.desc{
				color: #71747c;
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				height: 80px;
    			overflow: hidden;
    			@media (max-width: 768px) {
    				height: auto;
    				overflow: visible;
    			}
			}
			.more{
				margin: 20px 0 0;
				a{
					background: #b3b7c0;
					font-weight: 900;
					font-size: 18px;
					color: #fff;
					text-decoration: none;
					text-align: center;
					padding: 6px 38px;
					&:hover{
						background: #fff;
						color: #b3b7c0;
					}
				}
			}
		}
				
	}
}

// home refrence
.refrence-wrapper{
	background: #41434a;
	padding: 35px 0;
	.titlex{
		color: #fff;
		font-weight: 900;
		font-size: 45px;
		text-align: center;
	}
	.refrence-wrapper-block{
		position: relative;
		.prev{
    		color: #fff;
    		font-size: 60px;
    		position: absolute;
    		top: 35%;
    		cursor: pointer;
		    z-index: 1;
		}
		.next{
    		color: #fff;
    		font-size: 60px;
    		position: absolute;
    		top: 35%;
    		right: 0;
    		cursor: pointer;
		}
		.refrence-block{
		    margin: 20px 85px;
		    @media (max-width: 480px) {
		    	margin: 0;
		    }
			.img{
				float: left;
				width: 370px;
				@media (max-width: 1199px) {
					float: none;
					width: 100%;
				}
				img{
					@media (max-width: 1199px) {
						width: 100%;
					}
				}
			}
			.desc-wrapper{
				float: left;
				width: 600px;
			    min-height: 250px;
				padding: 30px;
				background: #fff;
				@media (max-width: 1199px) {
					width: 100%;
				}
				.title{
					color: #222225;
					font-weight: 900;
					font-size: 25px;
				    margin-bottom: 20px;
				}
				.desc{
					font-style: italic;
					color: #71747c;
					font-size: 17px;
				}
				.star{
				    margin-top: 20px;
	    			color: #ffba00;
				}
			}
		}
	} 
	
	
}


// contact
.contact-wrapper{
	background: #efeff1;
	overflow: hidden;
    padding: 60px 0 0;
	.contact-left{
		float: left;
		width: 40%;
		@media (max-width: 1024px) {
			float: none;
			width: 100%;
			padding: 20px;
		}
		.title{
			font-weight: 900;
			font-size: 25px;
			color: #222225;
		    margin-bottom: 20px;
		}
		.shortdesc{
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			font-size: 16px;
			margin-bottom: 20px;
		}
		.form-contact{
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			font-size: 15px;	
			input{
				margin-bottom: 20px;
				border-radius: 0;
			    padding: 20px;
			}
			button{
				background: #00c128;
			    font-weight: 900;
			    padding: 10px;
			    color: #fff;
			    padding: 9px 57px;
			    font-size: 20px;
				margin-top: 20px;
				border: none;
			}
		}
	}
	.contact-right{
		position: relative;
	    width: 60%;
    	float: right;
    	@media (max-width: 1024px) {
			float: none;
			width: 100%;
			padding: 20px;
			position: inherit;
		}
		.bg-right-contact{
			position: absolute;
			@media (max-width: 1024px) {
				display: none;
			}
		}
		.column-content-contact{
			position: absolute;
    		margin: 115px 130px;
    		color: #fff;
    		@media (max-width: 1024px) {
			    position: inherit;
			    margin: 0px;
			    color: #fff;
			    background: #eb2c36;
			    padding: 10px;
    		}
    		.title{
				font-weight: 900;
				font-size: 25px;
				margin-bottom: 20px;	
			}
			.desc{
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				font-size: 16px;
				p{
					margin-bottom: 20px;
				}
				span{
					font-weight: 900;
					font-family: 'Roboto', sans-serif;
				}
				a{
					font-weight: 900;
					font-family: 'Roboto', sans-serif;
					color: #fff;
					text-decoration: none;	
					i{
						font-size: 20px;
					}
				}
			}
		}
	}
}
.maps-wrapper{
	position: relative;
    display: inline-block;
    width: 100%;
    .overlay {
	   background:transparent; 
	   position:relative; 
	   width:100%;
	   height:480px; /* your iframe height */
	   top:480px;  /* your iframe height */
	   margin-top:-480px;  /* your iframe height */
	}
}


// funda wrapper
.assessment-wrapper{
	background: #efeff1;
	padding: 60px 0;
	.column{
		position: relative;
		display: inline-block;
		width: 100%;
		.titlex{
			color: #222225;
			font-size: 35px;
			text-align: center;
		    float: left;
		    width: 82%;
		    @media (max-width: 1024px) {
			  float: none;
			  width: 100%;
		    }
		}
		.funda{
			position: absolute;
			float: right;
			right: 240px;
    		top: -30px;
    		@media (min-width: 991px)and(max-width: 1199px) {
			    right: 100px;
    			top: -35px;
    		}
    		@media (min-width: 769px)and(max-width: 990px) {
			    position: inherit;
			    float: none;
			    text-align: center;
			    right: 0;
			    top: 0;
    		}
    		@media (max-width: 768px) {
			    position: initial;
			    float: none;
			    text-align: center;
			    margin: 5px 0;
    		}
			.point{
				width: 190px;
				height: 110px;
				background: url(../img/img-funda.png) no-repeat;
				font-weight: 900;
				font-size: 45px;
				text-align: right;
				padding-right: 15px;
				padding-top: 40px;
				@media (max-width: 768px) {
				    display: inline-block;
				}
				@media (min-width: 769px)and(max-width: 990px) {
				    display: inline-block;
	    		}
			}
		}
	}
		
}

// we can help
.wecanhelp-wrapper{
	padding: 65px 0;
	.titlex{
		color: #222225;
		font-size: 45px;
		font-weight: 900;
		text-align: center;
		margin-bottom: 60px;
	}
	.column-help{
		.column-help-block{
			@media (max-width: 768px) {
				margin-bottom: 50px;
			}
			.img{
				background: url(../img/bg-warmee.png) no-repeat center;
    			padding: 45px 0px;
    			text-align: center;
    			font-size: 60px;
    			color: #fff;
			}
			.title{
				font-size: 25px;
				color: #222225;
				font-weight: 900;
				text-align: center;
				margin: 20px 0;
			}
			.desc{
				text-align: center;
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				font-size: 16px;
			    padding: 0 42px;
			    color: #71747c;			    
				a{
					display: block;
					margin-top: 20px;
					color: #71747c;
					text-decoration: none;
					&:hover{
						color: #222225;
					}
				}
			}
		}
	}
}


// breadcumb
.breadcumb-wrapper{
	background: url(../img/slider1.jpg) no-repeat;
	min-height: 181px;
	color: #fff;
	background-position: center -50px;
	.breadcumb-block{
		.breadcumb-left{
			@media (max-width: 768px) {
				float: none !important;
			}
			.title{
				font-weight: 800;
				font-size: 50px;
				padding-top: 90px;
				@media (max-width: 768px) {
					text-align: center;
				}
			}
		}
		.breadcumb-right{
			@media (max-width: 480px) {
				float: none !important;
				text-align: center;
			}
			.breadcumb{
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				display: inline-block;
				padding-top: 130px;
				a{
					float: left;
					color: #fff;
					font-family: 'Roboto', sans-serif;
					font-weight: 300;
			        padding-top: 1px;
				}
				span{
					float: left;
					margin: 0 5px;
				}
			}
		}
	}	
}
.breadcumb-wrapper2{
	.breadcumb-banner{
		position: relative;
	    overflow: hidden;
		.breadcumb-block2{
			position: absolute;
			top: 4%;
			color: #fff;
		    width: 100%;
			.breadcumb-left{
				width: 50%;
				@media (max-width: 768px) {
					width: 100%;
				}
				.title{
					font-weight: 800;
					font-size: 50px;
					padding-top: 150px;
					line-height: 60px;
					@media (max-width: 768px) {
						text-align: center;
					}
				}
				.price{
					background: #eb2c36;
					color: #fff;
					font-size: 45px;
					display: inline-block;
					width: 388px;
					text-align: left;
					padding-left: 10px;
					margin-top: 20px;
					font-weight: 400;
					@media (max-width: 768px) {
						width: 100%;
					}
				}
			}
			.breadcumb-right{
				@media (max-width: 480px) {
					float: none !important;
					text-align: center;
				}
				.breadcumb{
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
					display: inline-block;
					@media (max-width: 768px) {
						margin-top: 10px;
					}
					a{
						float: left;
						color: #fff;
						font-family: 'Roboto', sans-serif;
						font-weight: 300;
				        padding-top: 1px;
					}
					span{
						float: left;
						margin: 0 5px;
					}
				}
			}
		}	
	}
	
}


// object
.menus2-wrapper{
	padding: 20px 0;
	.menus{
		ul{
			margin: 0;
			li{
				float: left;
				list-style: none;
				font-weight: 400;
				font-size: 19px;
				margin-right: 40px;
				@media (max-width: 768px) {
					float: none;
					margin-bottom: 20px;
				}
				a{
					color: #222225;
					text-decoration: none;
					&:hover{
						color: #eb2c36;
						font-weight: 900;
					}
				}
				.active{
					color: #eb2c36;
					font-weight: 900;
				}
			}
		}
	}
	.back{
		a{
			background: #b3b7c0;
		    font-weight: 900;
		    font-size: 18px;
		    color: #fff;
		    text-decoration: none;
		    text-align: center;
	        width: 100%;
		    &:hover{
		    	background: #fff;
    			color: #b3b7c0;
    			border: 1px solid;
		    }
		}
	}
}
.detail-object-wrapper{
	background: #efeff1;
	.content-main{
		margin: 30px 0;
		.column-detail{
			background: #fff;
			padding: 30px;
			.topx{
				display: inline-block;
				width: 100%;
				.column-left{
					.logos{
						color: #fff;
						font-size: 25px;
						background: url(../img/bg-object.png) no-repeat;
						padding: 10px 15px;
						width: 55px;
					}
				}
				.column-right{
					width: 460px;
					@media (max-width: 768px) {
						width: 100%;
					}
					.title{
						color: #222225;
						font-weight: 900;
						font-size: 18px;
						border-bottom: 2px solid #eb2c36;
						line-height: 50px;
	    				margin-left: 20px;
	    				@media (max-width: 768px) {
	    					margin-left: 0;
	    				}
					}
					.table{
						padding: 20px;
						color: #71747c;
						@media (max-width: 768px) {
							padding: 20px 0;
						}
						.labels{
						    width: 200px;
						    font-family: 'Roboto', sans-serif;
							font-weight: 400;
							font-size: 16px;
							@media (max-width: 768px) {
								font-size: 13px;
								width: 130px;
							}
						}
					}
				}
			}
		}
	}
	.content-sidebar{
		.section-sidebar{
			background: #fff;
			margin: 30px 0;
			padding: 30px;
			text-align: center;
			.title{
				color: #222225;
				font-weight: 900;
				font-size: 21px;
				padding: 1px;
			    margin-bottom: 20px;
			}
			.img{
				text-align: center;
				margin-bottom: 20px;
				img{
					display: inline-block;
				}
			}
			.brochure{
				a{
					background: #b3b7c0;
					font-weight: 900;
					font-size: 18px;
					color: #fff;
					text-decoration: none;
					text-align: center;
					width: 100%;					
				}
			}
			.desc{
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				font-size: 14px;
				.bold{
					font-weight: 800;
				}
				.tlp{
					color: #eb2c36;
					margin-top: 20px;
					span{
						font-weight: 900;
						color: #71747c;
					}
				}
				.email{
					a{
						color: #eb2c36;	
					}
					margin-top: 20px;
					span{
						font-weight: 900;
						color: #71747c;
					}
				}
				.comment{
					font-size: 18px;
					margin-top: 20px;
					a{
						text-decoration: none;
						color: #fff;
						background: #00c128;
						font-weight: 900;
					    padding: 5px 30px;
    					border-radius: 5px;
    					&:hover{
						   	box-shadow: 5px 8px 15px -10px #000;
						}
					}
				}
			}
		}
	}
}
.slider-bottom-wrapper{
	.slider-for{
		position: relative;
		.prev{
			position: absolute;
			background: rgba(223, 79, 93, 0.61);
			color: #fff;
			font-size: 55px;
			left: 0;
			width: 70px;
			top: 40%;
			z-index: 10;
			height: 194px;
			line-height: 178px;
			text-align: center;
			cursor: pointer;
		}
		.next{
			position: absolute;
			background: rgba(223, 79, 93, 0.61);
			color: #fff;
			font-size: 55px;
			right: 0;
			width: 70px;
			top: 40%;
			z-index: 10;
			height: 194px;
			line-height: 178px;
			text-align: center;
			cursor: pointer;
		}
		.slider-large-block{
			position: relative;
			.caption{
				position: absolute;
				width: 100%;
				background: rgba(0, 0, 0, 0.54);
				bottom: 0;
				height: 80px;
				color: #fff;
				text-align: center;
				line-height: 80px;
				font-size: 16px;
				font-weight: 700;
			}
		}
	}
	.slider-nav{
		margin-bottom: 20px;
		.img{
			margin: 10px;
			@media (max-width: 768px) {
				margin: 0;
			}
		}
	}
}


// content wrapper
.content-wrapper{
	.recomended-wrapper{
		padding: 60px 0;
		.titlex{
			font-weight: 900;
			color: #222225;
			font-size: 45px;
		    text-align: center;
	        margin-bottom: 50px;
		}
		.column-recomended-wrapper{
			.recomended-block{
				background: #f6f6f9;
				position: relative;
				padding: 60px 100px;
			    margin-bottom: 30px;
			    @media (max-width: 480px) {
			    	padding: 30px;
			    }
				.title{
					font-weight: 900;
					font-size: 25px;
				    margin-bottom: 20px;
				}
				.img{
					background: url(../img/bg-recommended.png) no-repeat center center;
					font-size: 40px;
				    color: #fff;
				    text-align: center;
				    position: absolute;
				    padding: 40px;
				    left: -50px;
				    top: 25px;
				    @media (max-width: 480px) {
				    	position: initial;
				    	text-align: center;
				    }
				    img{
				    	@media (max-width: 480px) {
					    	display: inline-block;
					    }	
				    }
				}
				.desc{
					font-size: 16px;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
				}
			}
		}
	}
}



//footer
.footer{
	.footer-one{
		background: #eb2c36;
		padding: 60px;
		color: #fff;
		font-size: 26px;
		text-align: center;
		@media (max-width: 1199px) {
			padding: 60px 0;
		}
		span{
			font-weight: 900;
		}
		.btn-contact{
			background: #00c128;
			font-weight: 900;
			padding: 10px;
			color: #fff;
			padding: 9px 57px;
			font-size: 26px;
    		margin-left: 30px;		
    		border: none;
    		@media (max-width: 1199px) {
	    	    margin: 30px 0;
	    	    padding: 10px;
		    }
    		&:hover{
			   	box-shadow: 5px 8px 15px -10px #000;
			}
		}
	}
	.footer-two{
		background: #36383e;
		padding: 60px 0;
		.footer-two-block{
			color: #fff;
			.title{
				font-weight: 900;
				font-size: 21px;
			    border-bottom: 1px solid #eb2c36;
    			padding-bottom: 10px;
			}
			.desc{
				padding-top: 25px;
				color: #aeafb2;
				font-size: 16px;
				font-weight: 400;
				font-family: 'Roboto', sans-serif;
				b{
					color: #fff;
				}
				.img-block{
				    display: inline-block;
    				margin: 0px 4px 7px;
				}
			}
		}
		.footer-bottom{
			font-weight: 400;
			font-family: 'Roboto', sans-serif;
			color: #fff;
	        padding: 25px 0 0;
    		margin: 90px 0 0;
    		border-top: 1px solid #aeafb2;
			a{
				color: #eb2c36;
				text-decoration: none;
				&:hover{
					color: #aeafb2;
				}
			}
			.footer-bottom-left{
				@media (max-width: 768px) {
					text-align: center;
	    			float: none !important;
	    			margin-bottom: 20px;	
				}
			}
			.footer-bottom-right{
				@media (max-width: 768px) {
				    text-align: center;
	    			float: none !important;
    			}
			} 
		}
	}
}