/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
/* line 8, ../sass/print.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 14, ../sass/print.scss */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* line 20, ../sass/print.scss */
.clear {
  clear: both;
}

/* line 24, ../sass/print.scss */
a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* line 38, ../sass/print.scss */
.top {
  background: #222225;
  color: #fff;
  line-height: 55px;
}
@media (max-width: 1024px) {
  /* line 38, ../sass/print.scss */
  .top {
    display: none;
  }
}
/* line 46, ../sass/print.scss */
.top .top-left .red {
  color: #eb2c36;
  font-weight: 700;
}
/* line 52, ../sass/print.scss */
.top .top-right .phone {
  float: left;
  margin-right: 20px;
}
/* line 56, ../sass/print.scss */
.top .top-right .mail {
  float: left;
  margin-right: 20px;
}
/* line 59, ../sass/print.scss */
.top .top-right .mail a {
  color: #fff;
  text-decoration: none;
}
/* line 62, ../sass/print.scss */
.top .top-right .mail a:hover {
  color: grey;
}
/* line 67, ../sass/print.scss */
.top .top-right .fb {
  float: left;
}
/* line 69, ../sass/print.scss */
.top .top-right .fb a {
  color: #fff;
  text-decoration: none;
}
/* line 72, ../sass/print.scss */
.top .top-right .fb a:hover {
  color: grey;
}

/* line 81, ../sass/print.scss */
.header {
  height: 142px;
}
@media (max-width: 1024px) {
  /* line 81, ../sass/print.scss */
  .header {
    height: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  /* line 81, ../sass/print.scss */
  .header {
    height: 170px;
  }
}
@media (max-width: 1024px) {
  /* line 89, ../sass/print.scss */
  .header .desktop-header {
    display: none;
  }
}
/* line 94, ../sass/print.scss */
.header .desktop-header .logos a {
  position: relative;
  display: inline-block;
  width: 418px;
  z-index: 999;
}
/* line 99, ../sass/print.scss */
.header .desktop-header .logos a img {
  position: absolute;
}
/* line 104, ../sass/print.scss */
.header .desktop-header .menus {
  font-family: 'Roboto', sans-serif;
}
/* line 106, ../sass/print.scss */
.header .desktop-header .menus ul {
  margin: 0;
}
/* line 108, ../sass/print.scss */
.header .desktop-header .menus ul li {
  float: left;
  list-style: none;
  font-size: 21px;
  line-height: 140px;
  margin-right: 60px;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  /* line 108, ../sass/print.scss */
  .header .desktop-header .menus ul li {
    margin-right: 27px;
    font-size: 18px;
  }
}
/* line 118, ../sass/print.scss */
.header .desktop-header .menus ul li:last-child {
  margin-right: 0;
}
/* line 121, ../sass/print.scss */
.header .desktop-header .menus ul li a {
  color: #222225;
  text-decoration: none;
}
/* line 124, ../sass/print.scss */
.header .desktop-header .menus ul li a:hover {
  color: #eb2c36;
  font-weight: 700;
}
/* line 127, ../sass/print.scss */
.header .desktop-header .menus ul li a:hover i {
  color: #222225;
}
/* line 132, ../sass/print.scss */
.header .desktop-header .menus ul li .active {
  color: #eb2c36;
  font-weight: 700;
}
/* line 135, ../sass/print.scss */
.header .desktop-header .menus ul li .active i {
  color: #222225;
}
/* line 142, ../sass/print.scss */
.header .desktop-header .menus ul .dropdown:hover .dropdown-content {
  display: block;
}
/* line 146, ../sass/print.scss */
.header .desktop-header .menus ul .dropdown .dropbtn {
  display: inline-block;
}
/* line 150, ../sass/print.scss */
.header .desktop-header .menus ul .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* line 157, ../sass/print.scss */
.header .desktop-header .menus ul .dropdown .dropdown-content ul {
  margin: 0;
}
/* line 159, ../sass/print.scss */
.header .desktop-header .menus ul .dropdown .dropdown-content ul li {
  float: left;
  list-style: none;
  line-height: 40px;
  width: 100%;
  margin-right: 0;
  padding: 10px;
  font-size: 18px;
}
/* line 167, ../sass/print.scss */
.header .desktop-header .menus ul .dropdown .dropdown-content ul li a {
  display: block;
  text-decoration: none;
}
/* line 178, ../sass/print.scss */
.header .mobile-header {
  display: none;
}
@media (max-width: 1024px) {
  /* line 178, ../sass/print.scss */
  .header .mobile-header {
    display: block;
  }
}
@media (max-width: 1024px) {
  /* line 183, ../sass/print.scss */
  .header .mobile-header .navbar-header {
    float: none;
  }
}
@media (max-width: 1024px) {
  /* line 187, ../sass/print.scss */
  .header .mobile-header .navbar-header .navbar-toggle {
    display: block;
  }
}
/* line 191, ../sass/print.scss */
.header .mobile-header .navbar-header .navbar-toggle span {
  background: #aeafb2;
}
/* line 196, ../sass/print.scss */
.header .mobile-header #navbar {
  background: #efeff1;
}
/* line 198, ../sass/print.scss */
.header .mobile-header #navbar ul {
  margin: 0;
}
/* line 200, ../sass/print.scss */
.header .mobile-header #navbar ul li {
  border-bottom: 1px solid #fff;
}
@media (max-width: 1024px) {
  /* line 200, ../sass/print.scss */
  .header .mobile-header #navbar ul li {
    float: none;
  }
}
/* line 205, ../sass/print.scss */
.header .mobile-header #navbar ul li a {
  color: #222225;
  text-decoration: none;
}
/* line 212, ../sass/print.scss */
.header .mobile-header .collapse {
  display: none !important;
}
/* line 215, ../sass/print.scss */
.header .mobile-header .in {
  width: 100%;
  display: inline-block !important;
}

/* line 226, ../sass/print.scss */
.slider-wrapper {
  color: #fff;
  position: relative;
  height: 100%;
}
/* line 230, ../sass/print.scss */
.slider-wrapper .slick-dots {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
/* line 237, ../sass/print.scss */
.slider-wrapper .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
/* line 240, ../sass/print.scss */
.slider-wrapper .slick-dots li button {
  background: #fff;
  border: none;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  text-indent: -9999px;
  outline: none;
}
/* line 251, ../sass/print.scss */
.slider-wrapper .slick-dots .slick-active button {
  background: #eb2c36;
}
/* line 256, ../sass/print.scss */
.slider-wrapper .slider-block {
  position: relative;
  overflow: hidden;
}
/* line 260, ../sass/print.scss */
.slider-wrapper .slider-block .img img {
  width: 100%;
}
/* line 264, ../sass/print.scss */
.slider-wrapper .slider-block .caption-wrapper {
  background: url(../img/bg-caption.png) no-repeat;
  bottom: -110px;
  height: 100%;
  position: absolute;
  margin-left: -100px;
  background-size: 100%;
}
@media (min-width: 1920px) {
  /* line 264, ../sass/print.scss */
  .slider-wrapper .slider-block .caption-wrapper {
    bottom: -200px;
  }
}
/* line 274, ../sass/print.scss */
.slider-wrapper .slider-block .caption-wrapper .caption {
  width: 910px;
  padding: 120px 90px 0;
}
@media (max-width: 768px) {
  /* line 274, ../sass/print.scss */
  .slider-wrapper .slider-block .caption-wrapper .caption {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 990px) {
  /* line 274, ../sass/print.scss */
  .slider-wrapper .slider-block .caption-wrapper .caption {
    display: none;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  /* line 274, ../sass/print.scss */
  .slider-wrapper .slider-block .caption-wrapper .caption {
    padding: 85px 90px 0;
  }
}
/* line 286, ../sass/print.scss */
.slider-wrapper .slider-block .caption-wrapper .caption .title {
  font-size: 45px;
  font-weight: 800;
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* line 286, ../sass/print.scss */
  .slider-wrapper .slider-block .caption-wrapper .caption .title {
    font-size: 29px;
  }
}
/* line 293, ../sass/print.scss */
.slider-wrapper .slider-block .caption-wrapper .caption .desc {
  font-weight: 300;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* line 293, ../sass/print.scss */
  .slider-wrapper .slider-block .caption-wrapper .caption .desc {
    font-size: 16px;
  }
}

/* line 308, ../sass/print.scss */
.search-advance-wrapper {
  padding: 40px 0;
}
@media (max-width: 1024px) {
  /* line 311, ../sass/print.scss */
  .search-advance-wrapper .form-search-advance .search-block {
    margin-bottom: 20px;
    text-align: center;
  }
}
/* line 316, ../sass/print.scss */
.search-advance-wrapper .form-search-advance .search-block .form-control {
  height: 50px;
  font-size: 18px;
}
/* line 320, ../sass/print.scss */
.search-advance-wrapper .form-search-advance .search-block .btn-meet {
  font-size: 18px;
  width: 100%;
  line-height: 40px;
}
/* line 324, ../sass/print.scss */
.search-advance-wrapper .form-search-advance .search-block .btn-meet:hover {
  box-shadow: 5px 8px 15px -10px #000;
}
/* line 328, ../sass/print.scss */
.search-advance-wrapper .form-search-advance .search-block .btn-green {
  background: #00c128;
  font-weight: 900;
  color: #fff;
  font-size: 18px;
  line-height: 49px;
  margin-top: -5px;
  padding: 5px 26px;
}
@media (max-width: 1024px) {
  /* line 328, ../sass/print.scss */
  .search-advance-wrapper .form-search-advance .search-block .btn-green {
    padding: 5px 10px;
  }
}
/* line 339, ../sass/print.scss */
.search-advance-wrapper .form-search-advance .search-block .btn-green:hover {
  box-shadow: 5px 8px 15px -10px #000;
}

/* line 348, ../sass/print.scss */
.latest-offer-wrapper {
  background: #efeff1;
  padding: 78px 0;
}
/* line 351, ../sass/print.scss */
.latest-offer-wrapper .titlex {
  font-weight: 900;
  font-size: 45px;
  color: #222225;
  text-align: center;
  padding-bottom: 55px;
}
/* line 358, ../sass/print.scss */
.latest-offer-wrapper .arrow-to-top {
  position: relative;
}
/* line 360, ../sass/print.scss */
.latest-offer-wrapper .arrow-to-top #back-to-top {
  font-size: 40px;
  background: #d1d3d8;
  color: #fff;
  padding: 0px 10px;
  position: absolute;
  right: -60px;
}
@media (max-width: 768px) {
  /* line 360, ../sass/print.scss */
  .latest-offer-wrapper .arrow-to-top #back-to-top {
    display: none;
  }
}
/* line 370, ../sass/print.scss */
.latest-offer-wrapper .arrow-to-top #back-to-top:hover {
  background: #fff;
  color: #d1d3d8;
}
/* line 376, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper {
  margin-bottom: 30px;
}
/* line 378, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .see-more {
  text-align: center;
  margin: 30px 0 30px;
}
/* line 381, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .see-more .btn-see-more {
  display: inline-block;
  background: #00c128;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  padding: 12px 48px;
}
@media (max-width: 1024px) {
  /* line 381, ../sass/print.scss */
  .latest-offer-wrapper .column-offer-wrapper .see-more .btn-see-more {
    padding: 12px 20px;
  }
}
/* line 391, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .see-more .btn-see-more:hover {
  box-shadow: 5px 8px 15px -10px #000;
}
/* line 396, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .img {
  position: relative;
}
@media (max-width: 1024px) {
  /* line 399, ../sass/print.scss */
  .latest-offer-wrapper .column-offer-wrapper .img a img {
    width: 100%;
  }
}
/* line 405, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .img .sale {
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 44px;
  background: #eb2c36;
  color: #fff;
  font-size: 18px;
  width: 185px;
  height: 44px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
/* line 418, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .img .price {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
}
/* line 425, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .img .price span {
  margin: 0 20px;
}
/* line 430, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .desc-wrapper {
  padding: 15px;
  background: #fff;
}
@media (max-width: 1024px) {
  /* line 430, ../sass/print.scss */
  .latest-offer-wrapper .column-offer-wrapper .desc-wrapper {
    margin-bottom: 20px;
  }
}
/* line 436, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .desc-wrapper .title {
  font-size: 21px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 20px;
}
/* line 441, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .desc-wrapper .title a {
  color: #222225;
  text-decoration: none;
}
/* line 444, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .desc-wrapper .title a:hover {
  color: #b3b7c0;
}
/* line 449, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .desc-wrapper .desc {
  color: #71747c;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 80px;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* line 449, ../sass/print.scss */
  .latest-offer-wrapper .column-offer-wrapper .desc-wrapper .desc {
    height: auto;
    overflow: visible;
  }
}
/* line 460, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .desc-wrapper .more {
  margin: 20px 0 0;
}
/* line 462, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .desc-wrapper .more a {
  background: #b3b7c0;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 6px 38px;
}
/* line 470, ../sass/print.scss */
.latest-offer-wrapper .column-offer-wrapper .desc-wrapper .more a:hover {
  background: #fff;
  color: #b3b7c0;
}

/* line 482, ../sass/print.scss */
.refrence-wrapper {
  background: #41434a;
  padding: 35px 0;
}
/* line 485, ../sass/print.scss */
.refrence-wrapper .titlex {
  color: #fff;
  font-weight: 900;
  font-size: 45px;
  text-align: center;
}
/* line 491, ../sass/print.scss */
.refrence-wrapper .refrence-wrapper-block {
  position: relative;
}
/* line 493, ../sass/print.scss */
.refrence-wrapper .refrence-wrapper-block .prev {
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 35%;
  cursor: pointer;
  z-index: 1;
}
/* line 501, ../sass/print.scss */
.refrence-wrapper .refrence-wrapper-block .next {
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 35%;
  right: 0;
  cursor: pointer;
}
/* line 509, ../sass/print.scss */
.refrence-wrapper .refrence-wrapper-block .refrence-block {
  margin: 20px 85px;
}
@media (max-width: 480px) {
  /* line 509, ../sass/print.scss */
  .refrence-wrapper .refrence-wrapper-block .refrence-block {
    margin: 0;
  }
}
/* line 514, ../sass/print.scss */
.refrence-wrapper .refrence-wrapper-block .refrence-block .img {
  float: left;
  width: 370px;
}
@media (max-width: 1199px) {
  /* line 514, ../sass/print.scss */
  .refrence-wrapper .refrence-wrapper-block .refrence-block .img {
    float: none;
    width: 100%;
  }
}
@media (max-width: 1199px) {
  /* line 521, ../sass/print.scss */
  .refrence-wrapper .refrence-wrapper-block .refrence-block .img img {
    width: 100%;
  }
}
/* line 527, ../sass/print.scss */
.refrence-wrapper .refrence-wrapper-block .refrence-block .desc-wrapper {
  float: left;
  width: 600px;
  min-height: 250px;
  padding: 30px;
  background: #fff;
}
@media (max-width: 1199px) {
  /* line 527, ../sass/print.scss */
  .refrence-wrapper .refrence-wrapper-block .refrence-block .desc-wrapper {
    width: 100%;
  }
}
/* line 536, ../sass/print.scss */
.refrence-wrapper .refrence-wrapper-block .refrence-block .desc-wrapper .title {
  color: #222225;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 20px;
}
/* line 542, ../sass/print.scss */
.refrence-wrapper .refrence-wrapper-block .refrence-block .desc-wrapper .desc {
  font-style: italic;
  color: #71747c;
  font-size: 17px;
}
/* line 547, ../sass/print.scss */
.refrence-wrapper .refrence-wrapper-block .refrence-block .desc-wrapper .star {
  margin-top: 20px;
  color: #ffba00;
}

/* line 560, ../sass/print.scss */
.contact-wrapper {
  background: #efeff1;
  overflow: hidden;
  padding: 60px 0 0;
}
/* line 564, ../sass/print.scss */
.contact-wrapper .contact-left {
  float: left;
  width: 40%;
}
@media (max-width: 1024px) {
  /* line 564, ../sass/print.scss */
  .contact-wrapper .contact-left {
    float: none;
    width: 100%;
    padding: 20px;
  }
}
/* line 572, ../sass/print.scss */
.contact-wrapper .contact-left .title {
  font-weight: 900;
  font-size: 25px;
  color: #222225;
  margin-bottom: 20px;
}
/* line 578, ../sass/print.scss */
.contact-wrapper .contact-left .shortdesc {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}
/* line 584, ../sass/print.scss */
.contact-wrapper .contact-left .form-contact {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
/* line 588, ../sass/print.scss */
.contact-wrapper .contact-left .form-contact input {
  margin-bottom: 20px;
  border-radius: 0;
  padding: 20px;
}
/* line 593, ../sass/print.scss */
.contact-wrapper .contact-left .form-contact button {
  background: #00c128;
  font-weight: 900;
  padding: 10px;
  color: #fff;
  padding: 9px 57px;
  font-size: 20px;
  margin-top: 20px;
  border: none;
}
/* line 605, ../sass/print.scss */
.contact-wrapper .contact-right {
  position: relative;
  width: 60%;
  float: right;
}
@media (max-width: 1024px) {
  /* line 605, ../sass/print.scss */
  .contact-wrapper .contact-right {
    float: none;
    width: 100%;
    padding: 20px;
    position: inherit;
  }
}
/* line 615, ../sass/print.scss */
.contact-wrapper .contact-right .bg-right-contact {
  position: absolute;
}
@media (max-width: 1024px) {
  /* line 615, ../sass/print.scss */
  .contact-wrapper .contact-right .bg-right-contact {
    display: none;
  }
}
/* line 621, ../sass/print.scss */
.contact-wrapper .contact-right .column-content-contact {
  position: absolute;
  margin: 115px 130px;
  color: #fff;
}
@media (max-width: 1024px) {
  /* line 621, ../sass/print.scss */
  .contact-wrapper .contact-right .column-content-contact {
    position: inherit;
    margin: 0px;
    color: #fff;
    background: #eb2c36;
    padding: 10px;
  }
}
/* line 632, ../sass/print.scss */
.contact-wrapper .contact-right .column-content-contact .title {
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 20px;
}
/* line 637, ../sass/print.scss */
.contact-wrapper .contact-right .column-content-contact .desc {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/* line 641, ../sass/print.scss */
.contact-wrapper .contact-right .column-content-contact .desc p {
  margin-bottom: 20px;
}
/* line 644, ../sass/print.scss */
.contact-wrapper .contact-right .column-content-contact .desc span {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}
/* line 648, ../sass/print.scss */
.contact-wrapper .contact-right .column-content-contact .desc a {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
}
/* line 653, ../sass/print.scss */
.contact-wrapper .contact-right .column-content-contact .desc a i {
  font-size: 20px;
}

/* line 661, ../sass/print.scss */
.maps-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 665, ../sass/print.scss */
.maps-wrapper .overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 480px;
  /* your iframe height */
  top: 480px;
  /* your iframe height */
  margin-top: -480px;
  /* your iframe height */
}

/* line 677, ../sass/print.scss */
.assessment-wrapper {
  background: #efeff1;
  padding: 60px 0;
}
/* line 680, ../sass/print.scss */
.assessment-wrapper .column {
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 684, ../sass/print.scss */
.assessment-wrapper .column .titlex {
  color: #222225;
  font-size: 35px;
  text-align: center;
  float: left;
  width: 82%;
}
@media (max-width: 1024px) {
  /* line 684, ../sass/print.scss */
  .assessment-wrapper .column .titlex {
    float: none;
    width: 100%;
  }
}
/* line 695, ../sass/print.scss */
.assessment-wrapper .column .funda {
  position: absolute;
  float: right;
  right: 240px;
  top: -30px;
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* line 695, ../sass/print.scss */
  .assessment-wrapper .column .funda {
    right: 100px;
    top: -35px;
  }
}
@media (min-width: 769px) and (max-width: 990px) {
  /* line 695, ../sass/print.scss */
  .assessment-wrapper .column .funda {
    position: inherit;
    float: none;
    text-align: center;
    right: 0;
    top: 0;
  }
}
@media (max-width: 768px) {
  /* line 695, ../sass/print.scss */
  .assessment-wrapper .column .funda {
    position: initial;
    float: none;
    text-align: center;
    margin: 5px 0;
  }
}
/* line 717, ../sass/print.scss */
.assessment-wrapper .column .funda .point {
  width: 190px;
  height: 110px;
  background: url(../img/img-funda.png) no-repeat;
  font-weight: 900;
  font-size: 45px;
  text-align: right;
  padding-right: 15px;
  padding-top: 40px;
}
@media (max-width: 768px) {
  /* line 717, ../sass/print.scss */
  .assessment-wrapper .column .funda .point {
    display: inline-block;
  }
}
@media (min-width: 769px) and (max-width: 990px) {
  /* line 717, ../sass/print.scss */
  .assessment-wrapper .column .funda .point {
    display: inline-block;
  }
}

/* line 739, ../sass/print.scss */
.wecanhelp-wrapper {
  padding: 65px 0;
}
/* line 741, ../sass/print.scss */
.wecanhelp-wrapper .titlex {
  color: #222225;
  font-size: 45px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  /* line 749, ../sass/print.scss */
  .wecanhelp-wrapper .column-help .column-help-block {
    margin-bottom: 50px;
  }
}
/* line 753, ../sass/print.scss */
.wecanhelp-wrapper .column-help .column-help-block .img {
  background: url(../img/bg-warmee.png) no-repeat center;
  padding: 45px 0px;
  text-align: center;
  font-size: 60px;
  color: #fff;
}
/* line 760, ../sass/print.scss */
.wecanhelp-wrapper .column-help .column-help-block .title {
  font-size: 25px;
  color: #222225;
  font-weight: 900;
  text-align: center;
  margin: 20px 0;
}
/* line 767, ../sass/print.scss */
.wecanhelp-wrapper .column-help .column-help-block .desc {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 0 42px;
  color: #71747c;
}
/* line 774, ../sass/print.scss */
.wecanhelp-wrapper .column-help .column-help-block .desc a {
  display: block;
  margin-top: 20px;
  color: #71747c;
  text-decoration: none;
}
/* line 779, ../sass/print.scss */
.wecanhelp-wrapper .column-help .column-help-block .desc a:hover {
  color: #222225;
}

/* line 790, ../sass/print.scss */
.breadcumb-wrapper {
  background: url(../img/slider1.jpg) no-repeat;
  min-height: 181px;
  color: #fff;
  background-position: center -50px;
}
@media (max-width: 768px) {
  /* line 796, ../sass/print.scss */
  .breadcumb-wrapper .breadcumb-block .breadcumb-left {
    float: none !important;
  }
}
/* line 800, ../sass/print.scss */
.breadcumb-wrapper .breadcumb-block .breadcumb-left .title {
  font-weight: 800;
  font-size: 50px;
  padding-top: 90px;
}
@media (max-width: 768px) {
  /* line 800, ../sass/print.scss */
  .breadcumb-wrapper .breadcumb-block .breadcumb-left .title {
    text-align: center;
  }
}
@media (max-width: 480px) {
  /* line 809, ../sass/print.scss */
  .breadcumb-wrapper .breadcumb-block .breadcumb-right {
    float: none !important;
    text-align: center;
  }
}
/* line 814, ../sass/print.scss */
.breadcumb-wrapper .breadcumb-block .breadcumb-right .breadcumb {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: inline-block;
  padding-top: 130px;
}
/* line 819, ../sass/print.scss */
.breadcumb-wrapper .breadcumb-block .breadcumb-right .breadcumb a {
  float: left;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 1px;
}
/* line 826, ../sass/print.scss */
.breadcumb-wrapper .breadcumb-block .breadcumb-right .breadcumb span {
  float: left;
  margin: 0 5px;
}

/* line 835, ../sass/print.scss */
.breadcumb-wrapper2 .breadcumb-banner {
  position: relative;
  overflow: hidden;
}
/* line 838, ../sass/print.scss */
.breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 {
  position: absolute;
  top: 4%;
  color: #fff;
  width: 100%;
}
/* line 843, ../sass/print.scss */
.breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-left {
  width: 50%;
}
@media (max-width: 768px) {
  /* line 843, ../sass/print.scss */
  .breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-left {
    width: 100%;
  }
}
/* line 848, ../sass/print.scss */
.breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-left .title {
  font-weight: 800;
  font-size: 50px;
  padding-top: 150px;
  line-height: 60px;
}
@media (max-width: 768px) {
  /* line 848, ../sass/print.scss */
  .breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-left .title {
    text-align: center;
  }
}
/* line 857, ../sass/print.scss */
.breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-left .price {
  background: #eb2c36;
  color: #fff;
  font-size: 45px;
  display: inline-block;
  width: 388px;
  text-align: left;
  padding-left: 10px;
  margin-top: 20px;
  font-weight: 400;
}
@media (max-width: 768px) {
  /* line 857, ../sass/print.scss */
  .breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-left .price {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 872, ../sass/print.scss */
  .breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-right {
    float: none !important;
    text-align: center;
  }
}
/* line 877, ../sass/print.scss */
.breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-right .breadcumb {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: inline-block;
}
@media (max-width: 768px) {
  /* line 877, ../sass/print.scss */
  .breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-right .breadcumb {
    margin-top: 10px;
  }
}
/* line 884, ../sass/print.scss */
.breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-right .breadcumb a {
  float: left;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 1px;
}
/* line 891, ../sass/print.scss */
.breadcumb-wrapper2 .breadcumb-banner .breadcumb-block2 .breadcumb-right .breadcumb span {
  float: left;
  margin: 0 5px;
}

/* line 904, ../sass/print.scss */
.menus2-wrapper {
  padding: 20px 0;
}
/* line 907, ../sass/print.scss */
.menus2-wrapper .menus ul {
  margin: 0;
}
/* line 909, ../sass/print.scss */
.menus2-wrapper .menus ul li {
  float: left;
  list-style: none;
  font-weight: 400;
  font-size: 19px;
  margin-right: 40px;
}
@media (max-width: 768px) {
  /* line 909, ../sass/print.scss */
  .menus2-wrapper .menus ul li {
    float: none;
    margin-bottom: 20px;
  }
}
/* line 919, ../sass/print.scss */
.menus2-wrapper .menus ul li a {
  color: #222225;
  text-decoration: none;
}
/* line 922, ../sass/print.scss */
.menus2-wrapper .menus ul li a:hover {
  color: #eb2c36;
  font-weight: 900;
}
/* line 927, ../sass/print.scss */
.menus2-wrapper .menus ul li .active {
  color: #eb2c36;
  font-weight: 900;
}
/* line 935, ../sass/print.scss */
.menus2-wrapper .back a {
  background: #b3b7c0;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
/* line 943, ../sass/print.scss */
.menus2-wrapper .back a:hover {
  background: #fff;
  color: #b3b7c0;
  border: 1px solid;
}

/* line 951, ../sass/print.scss */
.detail-object-wrapper {
  background: #efeff1;
}
/* line 953, ../sass/print.scss */
.detail-object-wrapper .content-main {
  margin: 30px 0;
}
/* line 955, ../sass/print.scss */
.detail-object-wrapper .content-main .column-detail {
  background: #fff;
  padding: 30px;
}
/* line 958, ../sass/print.scss */
.detail-object-wrapper .content-main .column-detail .topx {
  display: inline-block;
  width: 100%;
}
/* line 962, ../sass/print.scss */
.detail-object-wrapper .content-main .column-detail .topx .column-left .logos {
  color: #fff;
  font-size: 25px;
  background: url(../img/bg-object.png) no-repeat;
  padding: 10px 15px;
  width: 55px;
}
/* line 970, ../sass/print.scss */
.detail-object-wrapper .content-main .column-detail .topx .column-right {
  width: 460px;
}
@media (max-width: 768px) {
  /* line 970, ../sass/print.scss */
  .detail-object-wrapper .content-main .column-detail .topx .column-right {
    width: 100%;
  }
}
/* line 975, ../sass/print.scss */
.detail-object-wrapper .content-main .column-detail .topx .column-right .title {
  color: #222225;
  font-weight: 900;
  font-size: 18px;
  border-bottom: 2px solid #eb2c36;
  line-height: 50px;
  margin-left: 20px;
}
@media (max-width: 768px) {
  /* line 975, ../sass/print.scss */
  .detail-object-wrapper .content-main .column-detail .topx .column-right .title {
    margin-left: 0;
  }
}
/* line 986, ../sass/print.scss */
.detail-object-wrapper .content-main .column-detail .topx .column-right .table {
  padding: 20px;
  color: #71747c;
}
@media (max-width: 768px) {
  /* line 986, ../sass/print.scss */
  .detail-object-wrapper .content-main .column-detail .topx .column-right .table {
    padding: 20px 0;
  }
}
/* line 992, ../sass/print.scss */
.detail-object-wrapper .content-main .column-detail .topx .column-right .table .labels {
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 768px) {
  /* line 992, ../sass/print.scss */
  .detail-object-wrapper .content-main .column-detail .topx .column-right .table .labels {
    font-size: 13px;
    width: 130px;
  }
}
/* line 1008, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar {
  background: #fff;
  margin: 30px 0;
  padding: 30px;
  text-align: center;
}
/* line 1013, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .title {
  color: #222225;
  font-weight: 900;
  font-size: 21px;
  padding: 1px;
  margin-bottom: 20px;
}
/* line 1020, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .img {
  text-align: center;
  margin-bottom: 20px;
}
/* line 1023, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .img img {
  display: inline-block;
}
/* line 1028, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .brochure a {
  background: #b3b7c0;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
/* line 1038, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .desc {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/* line 1042, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .desc .bold {
  font-weight: 800;
}
/* line 1045, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .desc .tlp {
  color: #eb2c36;
  margin-top: 20px;
}
/* line 1048, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .desc .tlp span {
  font-weight: 900;
  color: #71747c;
}
/* line 1053, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .desc .email {
  margin-top: 20px;
}
/* line 1054, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .desc .email a {
  color: #eb2c36;
}
/* line 1058, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .desc .email span {
  font-weight: 900;
  color: #71747c;
}
/* line 1063, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .desc .comment {
  font-size: 18px;
  margin-top: 20px;
}
/* line 1066, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .desc .comment a {
  text-decoration: none;
  color: #fff;
  background: #00c128;
  font-weight: 900;
  padding: 5px 30px;
  border-radius: 5px;
}
/* line 1073, ../sass/print.scss */
.detail-object-wrapper .content-sidebar .section-sidebar .desc .comment a:hover {
  box-shadow: 5px 8px 15px -10px #000;
}

/* line 1083, ../sass/print.scss */
.slider-bottom-wrapper .slider-for {
  position: relative;
}
/* line 1085, ../sass/print.scss */
.slider-bottom-wrapper .slider-for .prev {
  position: absolute;
  background: rgba(223, 79, 93, 0.61);
  color: #fff;
  font-size: 55px;
  left: 0;
  width: 70px;
  top: 40%;
  z-index: 10;
  height: 194px;
  line-height: 178px;
  text-align: center;
  cursor: pointer;
}
/* line 1099, ../sass/print.scss */
.slider-bottom-wrapper .slider-for .next {
  position: absolute;
  background: rgba(223, 79, 93, 0.61);
  color: #fff;
  font-size: 55px;
  right: 0;
  width: 70px;
  top: 40%;
  z-index: 10;
  height: 194px;
  line-height: 178px;
  text-align: center;
  cursor: pointer;
}
/* line 1113, ../sass/print.scss */
.slider-bottom-wrapper .slider-for .slider-large-block {
  position: relative;
}
/* line 1115, ../sass/print.scss */
.slider-bottom-wrapper .slider-for .slider-large-block .caption {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.54);
  bottom: 0;
  height: 80px;
  color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
  font-weight: 700;
}
/* line 1129, ../sass/print.scss */
.slider-bottom-wrapper .slider-nav {
  margin-bottom: 20px;
}
/* line 1131, ../sass/print.scss */
.slider-bottom-wrapper .slider-nav .img {
  margin: 10px;
}
@media (max-width: 768px) {
  /* line 1131, ../sass/print.scss */
  .slider-bottom-wrapper .slider-nav .img {
    margin: 0;
  }
}

/* line 1143, ../sass/print.scss */
.content-wrapper .recomended-wrapper {
  padding: 60px 0;
}
/* line 1145, ../sass/print.scss */
.content-wrapper .recomended-wrapper .titlex {
  font-weight: 900;
  color: #222225;
  font-size: 45px;
  text-align: center;
  margin-bottom: 50px;
}
/* line 1153, ../sass/print.scss */
.content-wrapper .recomended-wrapper .column-recomended-wrapper .recomended-block {
  background: #f6f6f9;
  position: relative;
  padding: 60px 100px;
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  /* line 1153, ../sass/print.scss */
  .content-wrapper .recomended-wrapper .column-recomended-wrapper .recomended-block {
    padding: 30px;
  }
}
/* line 1161, ../sass/print.scss */
.content-wrapper .recomended-wrapper .column-recomended-wrapper .recomended-block .title {
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 20px;
}
/* line 1166, ../sass/print.scss */
.content-wrapper .recomended-wrapper .column-recomended-wrapper .recomended-block .img {
  background: url(../img/bg-recommended.png) no-repeat center center;
  font-size: 40px;
  color: #fff;
  text-align: center;
  position: absolute;
  padding: 40px;
  left: -50px;
  top: 25px;
}
@media (max-width: 480px) {
  /* line 1166, ../sass/print.scss */
  .content-wrapper .recomended-wrapper .column-recomended-wrapper .recomended-block .img {
    position: initial;
    text-align: center;
  }
}
@media (max-width: 480px) {
  /* line 1179, ../sass/print.scss */
  .content-wrapper .recomended-wrapper .column-recomended-wrapper .recomended-block .img img {
    display: inline-block;
  }
}
/* line 1185, ../sass/print.scss */
.content-wrapper .recomended-wrapper .column-recomended-wrapper .recomended-block .desc {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* line 1199, ../sass/print.scss */
.footer .footer-one {
  background: #eb2c36;
  padding: 60px;
  color: #fff;
  font-size: 26px;
  text-align: center;
}
@media (max-width: 1199px) {
  /* line 1199, ../sass/print.scss */
  .footer .footer-one {
    padding: 60px 0;
  }
}
/* line 1208, ../sass/print.scss */
.footer .footer-one span {
  font-weight: 900;
}
/* line 1211, ../sass/print.scss */
.footer .footer-one .btn-contact {
  background: #00c128;
  font-weight: 900;
  padding: 10px;
  color: #fff;
  padding: 9px 57px;
  font-size: 26px;
  margin-left: 30px;
  border: none;
}
@media (max-width: 1199px) {
  /* line 1211, ../sass/print.scss */
  .footer .footer-one .btn-contact {
    margin: 30px 0;
    padding: 10px;
  }
}
/* line 1224, ../sass/print.scss */
.footer .footer-one .btn-contact:hover {
  box-shadow: 5px 8px 15px -10px #000;
}
/* line 1229, ../sass/print.scss */
.footer .footer-two {
  background: #36383e;
  padding: 60px 0;
}
/* line 1232, ../sass/print.scss */
.footer .footer-two .footer-two-block {
  color: #fff;
}
/* line 1234, ../sass/print.scss */
.footer .footer-two .footer-two-block .title {
  font-weight: 900;
  font-size: 21px;
  border-bottom: 1px solid #eb2c36;
  padding-bottom: 10px;
}
/* line 1240, ../sass/print.scss */
.footer .footer-two .footer-two-block .desc {
  padding-top: 25px;
  color: #aeafb2;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
/* line 1246, ../sass/print.scss */
.footer .footer-two .footer-two-block .desc b {
  color: #fff;
}
/* line 1249, ../sass/print.scss */
.footer .footer-two .footer-two-block .desc .img-block {
  display: inline-block;
  margin: 0px 4px 7px;
}
/* line 1255, ../sass/print.scss */
.footer .footer-two .footer-bottom {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 25px 0 0;
  margin: 90px 0 0;
  border-top: 1px solid #aeafb2;
}
/* line 1262, ../sass/print.scss */
.footer .footer-two .footer-bottom a {
  color: #eb2c36;
  text-decoration: none;
}
/* line 1265, ../sass/print.scss */
.footer .footer-two .footer-bottom a:hover {
  color: #aeafb2;
}
@media (max-width: 768px) {
  /* line 1269, ../sass/print.scss */
  .footer .footer-two .footer-bottom .footer-bottom-left {
    text-align: center;
    float: none !important;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  /* line 1276, ../sass/print.scss */
  .footer .footer-two .footer-bottom .footer-bottom-right {
    text-align: center;
    float: none !important;
  }
}
