body {
    font-family: 'Open Sans', sans-serif;
}

#master-header {
    background-color: #c00;
}

#site-header {
    background-color: #76E292;
}

/***
Navigation
***/
.navbar {
    margin-top: 20px;
}

.navbar-default {
    border: none;
    background: transparent;
}

.navbar-nav li {
    margin-right: 20px;
}
.navbar-nav li:last-child {
    margin-right: 0;
}

.navbar-nav > li.active {
    background: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background: rgba(255,255,255,0.25);
    font-weight: bold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background: rgba(255,255,255,0.25);
}

/***
Banner
***/
#banner {
    position: relative;
    display: block;
    padding: 20px;
}

#banner-caption {
    color: #FFF;
    padding: 20px 30px;
    background: rgba(255,255,255,0.25);
}

@media (min-width: 768px) {
    #banner {
        height: 450px;
    }
    #banner-caption {
        margin-top: 100px;
    }
}

/***
Content
***/
section.content {
    padding-top: 40px;
}

h1.title {
    margin: 0;
    padding: 0;
}

/***
Footer
***/
footer {
    margin-top: 40px;
}

footer #copyright {
    background-color: #3B3D40;
    padding: 20px 0;
    color: #FFF;
}